

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Poppins;
}


/*<---------------------------------------NAV BAR STYLES ----------------------------------->*/
.Navbar{
    width:100vw;
    height: 80px;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin:0px;
    position: fixed;
    z-index:10;
   
    
}
.active{
    transition: 0.5s ease;
    background-color: white;
    box-shadow: 1px 1px 10px rgba(199, 199, 199, 0.514);
}

.activeText{
    color:black;

}
.Navbar .leftSide{
    flex:50%;
    display: flex;
    align-items: center;
    color:white;
    margin-left: 60px;
}


.Navbar .rightSide{
    flex:50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}
.Navbar .rightSide ul{
    display: flex;
    justify-content: flex-end;
    
}
.Navbar .rightSide li, a{
    margin-right: 40px;
    list-style: none;
    text-decoration: none;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.4s ease;
}

.rightSide a:hover{
    color:rgb(245, 80, 80);
}


.Navbar .rightSide button{
    display: none;
    height: 35px;
    width: 35px;

}
.Navbar .rightSide #hidden{
    display: flex;

}

#menuIcon{
    height: 30px;
    width: 30px;
    margin-right: 40px;
}

@media only screen and (max-width: 600px){
    
    .Navbar .leftSide{
        margin-left:20px;
    }
    
    .Navbar .rightSide {
        justify-content: flex-end;
    }
    .Navbar .rightSide ul{
        display:none;
    }
    .Navbar .rightSide li, a {
        margin: 20px;
    }

    .Navbar .rightSide button{
        display:block;
        margin-right: 20px;
        border: none;
       background-color: transparent;
    }
    .Navbar .rightSide .hidden{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        position: absolute;
        left:0px;
        top:80px;
        height: 200px;
        width: 100%;
        color:white;
        background: url("code2.jpg") ;
    }
}

/*<--------------------------------------- END OF NAV BAR STYLES ----------------------------------->*/

/*<---------------------------------------HERO SECTION  STYLES ----------------------------------->*/

#hero{
    width:100vw;
    height: 97.5vh;
    background-image: url("/src/code2.jpg");
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
    background-size: cover; 
    display: flex;
    align-items: center;
    justify-content: center;
 
}

#hero h1, #hero h3,#hero p{
    color: white;
    
}

#hero-container{
border: 1px solid black;
background-color:rgba(0,0,0, 0.6);
width: 100vw;
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding:20px;

}

#hero-container h3{
    font-size: 2rem;
    margin-bottom: 20px;
}
#hero-container h1{
    font-size: 3.5rem;
    margin-bottom: 20px;
}
#downloadBtn{
    border: 2px solid rgb(245, 80, 80);
    border-radius: 5px;
    padding: 10px 20px ;
}
#downloadBtn:hover{
    background-color: rgb(245, 80, 80);
    
}
#downloadBtn:active {
    -moz-transform: translate(0px, 25px);
    -webkit-transform: translate(0px, 25px);
    -o-transform: translate(0px, 25px);
    -ms-transform: translate(0px, 25px);
    transform: translate(0px, 25px);
 }


@media only screen and (max-width: 1224px){
    #hero-container{
        height: 97.50vh;
    }


    #hero-container h3{
        font-size: 1.7rem;
        margin-bottom: 20px;
        text-align: center;
    }
    #hero-container h1{
        font-size: 3rem;
        margin-bottom: 20px;
        text-align: center;
    }
    #hero-container p{
        font-size: 1rem;
        text-align: center;
    }
}
@media only screen and (max-width: 600px){
    #hero{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 100%);
    }
    #hero-container{
        height: 97.5vh;
        background-color: rgba(0,0,0, 0.5);
    }


    #hero-container h3{
        font-size: 1.7rem;
        margin-bottom: 20px;
        text-align: center;
    }
    #hero-container h1{
        font-size: 2rem;
        margin-bottom: 20px;
        text-align: center;
    }
    #hero-container p{
        font-size: 1rem;
        text-align: center;
    }
}


/*<--------------------------------------- END OF HERO SECTION STYLES ----------------------------------->*/

/*<--------------------------------------- ABOUT SECTION  STYLES ----------------------------------->*/

#about{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#imgContainer {
    height: 440px;
    width: 440px;
   
}
#imgContainer img {
    height: auto;
    width: 100%;
    
}
#aboutTextContainer{
    
    height: 55vh;
    width: 35vw;
    padding: 40px;
    font-family: arial ;
}

#aboutTextContainer h2{

    font-size: 32px;
    font-weight: lighter;
    margin-bottom: 30px;
}
#aboutTextContainer h4{

    font-size: 24px;
    font-weight: 400;
    margin-bottom: 30px;
}
#aboutTextContainer p{

   color: #596269;
}

.socialContainer{
    height: 10vh;
}

.social{
    margin-top: 20px;
    height: 50%;
    width: auto;
    color: black;
}
.social:hover{
   
    color:rgb(245, 80, 80);
    transition: 0.4s ease;
}




@media only screen and (max-width: 1024px){
    
    #about{
        height: 120vh;
        flex-direction: column;
        justify-content: flex-start;
    }

   #imgContainer {
        margin-top: 70px;
        
       
    }
   
    #aboutTextContainer{
    
        height: 70vh;
        width: 90vw;
        font-family: arial ;
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 620px){
    #about{
        height: 160vh;
      
    }

   #imgContainer {
        height: 350px;
        width: 350px;
       
    }
    
    #aboutTextContainer{
    
        font-size:19px;
    }
}
@media only screen and (max-width: 450px){

    #about{
        height: 120vh;
      
    }

    #imgContainer {
        height:  260px;
        width: 260px;
       
    }
   
}
@media only screen and (max-width: 330px){

    #about{
        height: 170vh;
      
    }
    
    #aboutTextContainer{
    
        font-size:18px;
    }



/* #imgContainer {
    height: 25vh;
    width: 45vw;
   
}
#imgContainer img {
    height: 25vh;
    width: 55vw;
} */

  

}


/*<--------------------------------------- END OF ABOUT SECTION STYLES ----------------------------------->*/

/*<--------------------------------------- SKILLS SECTION  STYLES ----------------------------------->*/
#skills{
    height: 60vh;
    background-color: rgb(248, 249, 250);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#skills h2, #work h2{
    margin-top: 40px;
    font-size: 2.5em;
}

#skillContainer{
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}

.skillIcon{
    height: 100px;
    width: 100px;
    margin: 30px;
}


@media only screen and (max-width: 1150px){


    #skillContainer{
        display: flex;
        flex-wrap: wrap;
        width: 60%;
    }
  
    .skillIcon{
        height: 50px;
        width: 50px;
        margin: 10px;
    }
}
@media only screen and (max-width: 500px){


    #skillContainer{
        display: flex;
        flex-wrap: wrap;
        width: 70%;
    }
  
    .skillIcon{
        height: 50px;
        width: 50px;
        margin: 10px;
    }
}
@media only screen and (max-width: 500px){
    #skills{
        height: 60vh;
    }

    #skillContainer{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 80%;
    }
  
    .skillIcon{
        height: 50px;
        width: 50px;
        margin: 10px;
    }
}




/*<--------------------------------------- END OF SKILLS SECTION STYLES ----------------------------------->*/

/*<---------------------------------------WORK SECTION  STYLES ----------------------------------->*/


#work{
height: 100vh;
width: 100vw;
display:flex;
flex-direction: column;
align-items: center;
}
#work h2{
    margin-top: 60px;
}
#workContainer{
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.workCard{
    position: relative;
    width: 28vw;
    height: 35vh;
    margin: 30px 15px 0 15px ;
    box-shadow: 1px 8px 44px -18px rgba(55,55,55,0.71);
    border-radius: 3px;
    transition: 1s ease;
}

.workCard img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.workText{
    
    position: absolute;
    top: 0;
    left: 0;
    width: 28vw;
    height: 35vh;
    opacity: 0;
    background-color: rgba(0,0,0, 0.95);
    color: white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease;
}

.workText:hover{
   opacity: 1;
} 
.workText p{
    margin-top: 20px;
    width: 75%;
    font-size: 0.7em;
    text-align: center;
}
.tech{
    color:rgb(154, 155, 156);
    font-size: 0.2em;
}

.workLinksContainer{
    height: 7vh;
    font-size: 0.6em;
    
   
}
.workLink{
    
    margin-top: 20px;
    height: 60%;
    width: auto;
    color:white;
    
}
.workLink:hover{
    color:rgb(245, 80, 80);
    transition: 0.4s ease;
}



@media only screen and (max-width: 1300px){
    #work{
        height: 130vh;
    }
}
@media only screen and (max-width: 1000px){
    .workCard{
       
        width: 35vw;
        height: 40vh;
    }
    .workCard img{
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }

    .workText{
        width: 35vw;
        height: 40vh;
      
    }
}
@media only screen and (max-width: 900px){
    
    #work{
        height: 250vh;
    }
    
    #workContainer{
        flex-direction: column;
        align-items: center;
    }
    .workCard{
       
        width: 60vw;
        height:50vh;
    }
    .workCard img{
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }

    .workText{
        width: 60vw;
        height: 50vh;
      
    }
}
@media only screen and (max-width: 900px){
    
    #work{
        height: 250vh;
    }
    
    #workContainer{
        flex-direction: column;
        align-items: center;
    }
    .workCard{
       
        width: 60vw;
        height:50vh;
    }
    .workCard img{
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }

    .workText{
        width: 60vw;
        height: 50vh;
      
    }
}
@media only screen and (max-width: 750px){

    #work{
        height: 170vh;
    }
    .workCard{
       
        width: 70vw;
        height:40vh;
    }
    .workCard img{
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }

    .workText{
        width: 70vw;
        height: 40vh;
    }

}

@media only screen and (max-width: 550px){

  
    .workCard{
       
        width: 85vw;
        height:30vh;
    }
    .workCard img{
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }

    .workText{
        width: 85vw;
        height: 30vh;
    }


    .workText p{
        margin-top: 20px;
        width: 75%;
        font-size: 0.5em;
        text-align: center;
    }
    .tech{
        color:rgb(154, 155, 156);
        font-size: 0.1em;
    }
    
    .workLinksContainer{
        height: 7vh;
        font-size: 0.4em;
        
    }
    .workLink{
        
        margin-top: 20px;
        height: 40%;
        width: auto;
        color:white;
        
    }
    .workLink:hover{
        color:rgb(245, 80, 80);
        transition: 0.4s ease;
    }


}

/*<--------------------------------------- END OF WORK SECTION STYLES ----------------------------------->*/

/*<--------------------------------------- CONTACT SECTION  STYLES ----------------------------------->*/

#contact{
    height: 120vh;
    background-color: rgb(248, 249, 250);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact h2{
    margin:60px 0 0 0 ;
    font-size: 2.5rem;
}

#contactContainer{
    display: flex;
    margin: 50px 0 ;
}


.contactCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0 40px;
}

.contactIcon{
    width: 9vw;
    height: 6vh;
    color: rgb(224, 109, 109);
}
#contactForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
}
#contactForm input, 
#contactForm textarea {
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
    border: 2px solid rgb(190, 190, 190);
    outline: none;
    border-radius: 5px;
    font-size: 1.2em;
   
}
#contactForm input:focus, 
#contactForm textarea:focus{
    border: 2px solid  rgb(224, 109, 109);
}

input::placeholder, 
textarea::placeholder{
    font-size: 1rem;
    padding:10px;

}
.submitBtn{
    width: 150px;
    height: 50px;
    border: none;
    background-color: rgb(245, 80, 80);
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: all .3s;
}
.submitBtn:hover{
    background-color: rgb(163, 1, 1);
}
.submitBtn:active {
    -moz-transform: translate(0px, 25px);
    -webkit-transform: translate(0px, 25px);
    -o-transform: translate(0px, 25px);
    -ms-transform: translate(0px, 25px);
    transform: translate(0px, 25px);
 }


 @media only screen and (max-width: 900px){
    #contactContainer{
        display: flex;
        flex-direction: column;
    }
    .contactCard{
        margin-bottom: 20px;
    }

 }
 @media only screen and (max-width: 600px){

    #contact{
        height: 120vh;
    }

    #contactForm input, 
    #contactForm textarea {
        height: 50px;
        width: 250px;
    }
   


 }



/*<--------------------------------------- END OF CONTACT SECTION STYLES ----------------------------------->*/

/*<--------------------------------------- FOOTER SECTION  STYLES ----------------------------------->*/

#footer{
    height: 30vh;
    background-color: rgb(37, 37, 37);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#footer p{
    color: rgb(148, 147, 147);
    margin-top: 40px;

}

#footerLinks{
    display: flex;
    justify-content: center;
}
.footerLink{
    height: 6vh;
    color:rgb(148, 147, 147);
    padding: 10px;
    background-color: rgb(75, 72, 72);
    border-radius: 50%;
    transition: 0.5s ease;
}

.footerLink:hover{
    color:  rgb(245, 80, 80);
}

